<script id="productTemplate" type="text/html">
    <div class="col-md-3" propName="ID">
        <p><a href="javascript:void(0)"></a></p>
    </div>
    <div class="col-md-3" propName="Name">
        <p>Test</p>
    </div>
    <div class="col-md-3" propName="Description">
        <p>Test</p>
    </div>
    <div class="col-md-3" propName="Price">
        <p>Test</p>
    </div>
</script>
