
<div class="row" id="products">
    <div class="row">
        <div class="col-md-3">
            <h2>ID</h2>
        </div>
        <div class="col-md-3">
            <h2>Name</h2>
        </div>
        <div class="col-md-3">
            <h2>Description</h2>
        </div>
        <div class="col-md-3">
            <h2>Price</h2>
        </div>
    </div>
    <div id="results"></div>
</div>

@section scripts {
    <script src="~/Scripts/app/demoappscript.js"></script>
}